In [3]:
import pandas as pd

In [4]:
filename = "../data/volvocars_salesvolumes.csv"

In [5]:
df = pd.read_csv(filename, skiprows=2)

In [6]:
df.dropna(inplace=True)
df.drop(['Unnamed: 1'], axis=1, inplace=True)
df.set_index('RETAIL SALES BY GEOGRAPHICAL REGIONS', inplace=True)
df = df.transpose()
df.index.name = 'Quarter'
df = df.replace('%', '', regex=True).replace(' - ', None, regex=True).replace(' ', '', regex=True).replace('', None, regex=True)
df = df.astype(float)

In [7]:
df.columns

Index(['Europe', 'China', 'US', 'Other', 'Retail sales total', 'whereof BEV',
       'whereof PHEV', 'Recharge line-up share', 'whereof BEV share of sales',
       'Wholesales', 'Production volumes', 'XC40 BEV', 'C40 BEV', 'XC60',
       'XC40m PHEV/ICE', 'XC90', 'S90', 'V60/V60', 'S60/S60', 'V90/V90',
       'V40/V40', 'Total'],
      dtype='object', name='RETAIL SALES BY GEOGRAPHICAL REGIONS')

In [8]:
df

RETAIL SALES BY GEOGRAPHICAL REGIONS,Europe,China,US,Other,Retail sales total,whereof BEV,whereof PHEV,Recharge line-up share,whereof BEV share of sales,Wholesales,...,C40 BEV,XC60,XC40m PHEV/ICE,XC90,S90,V60/V60,S60/S60,V90/V90,V40/V40,Total
Quarter,,,,,,,,,,,,,,,,,,,,,
Q12020,70593.0,20780.0,19485.0,21031.0,131889.0,NaN,19412.0,15.0,NaN,142537.0,...,NaN,36930.0,34268.0,18327.0,7155.0,17708.0,9154.0,6564.0,1783.0,131889.0
Q22020,52598.0,44961.0,23770.0,16744.0,138073.0,NaN,18363.0,13.0,NaN,135462.0,...,NaN,41831.0,34091.0,19591.0,11300.0,13565.0,11304.0,5822.0,569.0,138073.0
Q32020,77142.0,47537.0,30349.0,26138.0,181166.0,NaN,30658.0,17.0,NaN,166343.0,...,NaN,52330.0,53546.0,23409.0,13083.0,16829.0,14449.0,6865.0,655.0,181166.0
Q42020,87945.0,53339.0,36525.0,32776.0,210585.0,4659.0,42344.0,22.0,2.0,218283.0,...,NaN,60605.0,58842.0,31131.0,14489.0,16810.0,17344.0,6318.0,387.0,210585.0
Q12021,87550.0,45242.0,27239.0,25667.0,185698.0,3615.0,42939.0,25.0,2.0,177969.0,...,NaN,52702.0,53931.0,24265.0,12044.0,18167.0,14060.0,6890.0,24.0,185698.0
Q22021,79272.0,50010.0,36515.0,29262.0,195059.0,6395.0,40846.0,24.0,3.0,178924.0,...,NaN,60798.0,54180.0,29912.0,13609.0,13058.0,12299.0,4806.0,2.0,195059.0
Q32021,53549.0,37358.0,31611.0,27374.0,149892.0,5414.0,32873.0,26.0,4.0,128317.0,...,NaN,49097.0,33385.0,26225.0,10640.0,11212.0,9765.0,4152.0,2.0,149892.0
Q42021,73100.0,39066.0,26808.0,29070.0,168044.0,10303.0,46831.0,34.0,6.0,169221.0,...,1196.0,53039.0,35010.0,27829.0,10275.0,13602.0,13120.0,4866.0,0.0,168044.0
Q12022,65157.0,35698.0,22757.0,24683.0,148295.0,11721.0,38053.0,34.0,8.0,156694.0,...,3645.0,44874.0,34405.0,21966.0,9489.0,9201.0,12173.0,4464.0,2.0,148295.0
Q22022,54613.0,34535.0,27828.0,26030.0,143006.0,10499.0,33688.0,31.0,7.0,135461.0,...,3941.0,48344.0,29609.0,26947.0,8336.0,7487.0,8161.0,3623.0,0.0,143006.0
Q32022,46246.0,47511.0,21631.0,22298.0,137686.0,10149.0,24465.0,25.0,7.0,145227.0,...,3679.0,48043.0,28433.0,22822.0,11462.0,5121.0,8686.0,2969.0,1.0,137686.0
Q42022,81397.0,44578.0,29822.0,30337.0,186134.0,34380.0,42397.0,41.0,18.0,194320.0,...,12948.0,54077.0,34223.0,25395.0,13623.0,10268.0,10484.0,3684.0,0.0,186134.0

In [104]:
df.to_csv('../data/sales_clearned.csv')

In [170]:
# df.to_json()

## Sales by Regison

In [14]:
col_region = ['Europe', 'China', 'US', 'Other']
df_0 = df[col_region]

In [15]:
# df_0 = df_0.reset_index()

In [17]:
df_0

RETAIL SALES BY GEOGRAPHICAL REGIONS   Europe    China       US    Other
Quarter
Q12020                                70593.0  20780.0  19485.0  21031.0
Q22020                                52598.0  44961.0  23770.0  16744.0
Q32020                                77142.0  47537.0  30349.0  26138.0
Q42020                                87945.0  53339.0  36525.0  32776.0
Q12021                                87550.0  45242.0  27239.0  25667.0
Q22021                                79272.0  50010.0  36515.0  29262.0
Q32021                                53549.0  37358.0  31611.0  27374.0
Q42021                                73100.0  39066.0  26808.0  29070.0
Q12022                                65157.0  35698.0  22757.0  24683.0
Q22022                                54613.0  34535.0  27828.0  26030.0
Q32022                                46246.0  47511.0  21631.0  22298.0
Q42022                                81397.0  44578.0  29822.0  30337.0

In [231]:
# df_0['Year'] = df_0['Quarter'].apply(lambda x: int(x[-4:]))
# df_0['Quarter'] = df_0['Quarter'].apply(lambda x: x[:2])

In [18]:
df_0.to_csv("../data/vcc_sales_region.csv")

## Sales by Model

In [9]:
col_model = ['XC40 BEV', 'C40 BEV', 'XC60', 'XC40m PHEV/ICE', 'XC90', 'S90', 'V60/V60', 'S60/S60', 'V90/V90', 'V40/V40']

In [10]:
df_1 = df[col_model]

In [11]:
df_1

RETAIL SALES BY GEOGRAPHICAL REGIONS,XC40 BEV,C40 BEV,XC60,XC40m PHEV/ICE,XC90,S90,V60/V60,S60/S60,V90/V90,V40/V40
Quarter,,,,,,,,,,
Q12020,NaN,NaN,36930.0,34268.0,18327.0,7155.0,17708.0,9154.0,6564.0,1783.0
Q22020,NaN,NaN,41831.0,34091.0,19591.0,11300.0,13565.0,11304.0,5822.0,569.0
Q32020,NaN,NaN,52330.0,53546.0,23409.0,13083.0,16829.0,14449.0,6865.0,655.0
Q42020,4659.0,NaN,60605.0,58842.0,31131.0,14489.0,16810.0,17344.0,6318.0,387.0
Q12021,3615.0,NaN,52702.0,53931.0,24265.0,12044.0,18167.0,14060.0,6890.0,24.0
Q22021,6395.0,NaN,60798.0,54180.0,29912.0,13609.0,13058.0,12299.0,4806.0,2.0
Q32021,5414.0,NaN,49097.0,33385.0,26225.0,10640.0,11212.0,9765.0,4152.0,2.0
Q42021,9107.0,1196.0,53039.0,35010.0,27829.0,10275.0,13602.0,13120.0,4866.0,0.0
Q12022,8076.0,3645.0,44874.0,34405.0,21966.0,9489.0,9201.0,12173.0,4464.0,2.0
Q22022,6558.0,3941.0,48344.0,29609.0,26947.0,8336.0,7487.0,8161.0,3623.0,0.0
Q32022,6470.0,3679.0,48043.0,28433.0,22822.0,11462.0,5121.0,8686.0,2969.0,1.0
Q42022,21432.0,12948.0,54077.0,34223.0,25395.0,13623.0,10268.0,10484.0,3684.0,0.0

In [12]:
df_melt = pd.melt(df_1.reset_index(), id_vars='Quarter', var_name='Model', value_name='Volume')

In [13]:
df_melt['Quarter'] = df_melt['Quarter'].apply(lambda x: x[-4:] + x[:2])

In [14]:
df_melt.to_csv("../data/vcc_sales_model_melt.csv")

In [183]:
df_1.to_csv("../data/vcc_sales_model.csv")

In [182]:
df_1.to_json("../data/vcc_sales_model.json", orient="split")

In [ ]:
df_1

# Test

In [184]:
f = "../data/vcc_sales_model.csv"

In [185]:
d = pd.read_csv(f, usecols=[0])

if d.dtypes[0] == 'object':
    df = pd.read_csv(f, index_col=0)
else:
    df = pd.read_csv(f)

In [19]:
df

RETAIL SALES BY GEOGRAPHICAL REGIONS,Europe,China,US,Other,Retail sales total,whereof BEV,whereof PHEV,Recharge line-up share,whereof BEV share of sales,Wholesales,...,C40 BEV,XC60,XC40m PHEV/ICE,XC90,S90,V60/V60,S60/S60,V90/V90,V40/V40,Total
Quarter,,,,,,,,,,,,,,,,,,,,,
Q12020,70593.0,20780.0,19485.0,21031.0,131889.0,NaN,19412.0,15.0,NaN,142537.0,...,NaN,36930.0,34268.0,18327.0,7155.0,17708.0,9154.0,6564.0,1783.0,131889.0
Q22020,52598.0,44961.0,23770.0,16744.0,138073.0,NaN,18363.0,13.0,NaN,135462.0,...,NaN,41831.0,34091.0,19591.0,11300.0,13565.0,11304.0,5822.0,569.0,138073.0
Q32020,77142.0,47537.0,30349.0,26138.0,181166.0,NaN,30658.0,17.0,NaN,166343.0,...,NaN,52330.0,53546.0,23409.0,13083.0,16829.0,14449.0,6865.0,655.0,181166.0
Q42020,87945.0,53339.0,36525.0,32776.0,210585.0,4659.0,42344.0,22.0,2.0,218283.0,...,NaN,60605.0,58842.0,31131.0,14489.0,16810.0,17344.0,6318.0,387.0,210585.0
Q12021,87550.0,45242.0,27239.0,25667.0,185698.0,3615.0,42939.0,25.0,2.0,177969.0,...,NaN,52702.0,53931.0,24265.0,12044.0,18167.0,14060.0,6890.0,24.0,185698.0
Q22021,79272.0,50010.0,36515.0,29262.0,195059.0,6395.0,40846.0,24.0,3.0,178924.0,...,NaN,60798.0,54180.0,29912.0,13609.0,13058.0,12299.0,4806.0,2.0,195059.0
Q32021,53549.0,37358.0,31611.0,27374.0,149892.0,5414.0,32873.0,26.0,4.0,128317.0,...,NaN,49097.0,33385.0,26225.0,10640.0,11212.0,9765.0,4152.0,2.0,149892.0
Q42021,73100.0,39066.0,26808.0,29070.0,168044.0,10303.0,46831.0,34.0,6.0,169221.0,...,1196.0,53039.0,35010.0,27829.0,10275.0,13602.0,13120.0,4866.0,0.0,168044.0
Q12022,65157.0,35698.0,22757.0,24683.0,148295.0,11721.0,38053.0,34.0,8.0,156694.0,...,3645.0,44874.0,34405.0,21966.0,9489.0,9201.0,12173.0,4464.0,2.0,148295.0
Q22022,54613.0,34535.0,27828.0,26030.0,143006.0,10499.0,33688.0,31.0,7.0,135461.0,...,3941.0,48344.0,29609.0,26947.0,8336.0,7487.0,8161.0,3623.0,0.0,143006.0
Q32022,46246.0,47511.0,21631.0,22298.0,137686.0,10149.0,24465.0,25.0,7.0,145227.0,...,3679.0,48043.0,28433.0,22822.0,11462.0,5121.0,8686.0,2969.0,1.0,137686.0
Q42022,81397.0,44578.0,29822.0,30337.0,186134.0,34380.0,42397.0,41.0,18.0,194320.0,...,12948.0,54077.0,34223.0,25395.0,13623.0,10268.0,10484.0,3684.0,0.0,186134.0

In [20]:
df.index

Index(['Q12020', 'Q22020', 'Q32020', 'Q42020', 'Q12021', 'Q22021', 'Q32021',
       'Q42021', 'Q12022', 'Q22022', 'Q32022', 'Q42022'],
      dtype='object', name='Quarter')

In [21]:
df.columns

Index(['Europe', 'China', 'US', 'Other', 'Retail sales total', 'whereof BEV',
       'whereof PHEV', 'Recharge line-up share', 'whereof BEV share of sales',
       'Wholesales', 'Production volumes', 'XC40 BEV', 'C40 BEV', 'XC60',
       'XC40m PHEV/ICE', 'XC90', 'S90', 'V60/V60', 'S60/S60', 'V90/V90',
       'V40/V40', 'Total'],
      dtype='object', name='RETAIL SALES BY GEOGRAPHICAL REGIONS')

In [ ]:
col_mol =

In [205]:
df_melt = pd.melt(df.reset_index(), id_vars='Quarter', var_name='Model', value_name='Volume')

In [207]:
df_melt.to_csv("../data/vcc_model_melt.csv", index=False)

In [190]:
a = {"data": {"index": [0, 1, 2], "column1": [2, 3, 5], "column2": [25, 24, 10]}}

In [191]:
d = pd.DataFrame(a['data'])
d.set_index("index", inplace=True)

In [192]:
d

       column1  column2
index
0            2       25
1            3       24
2            5       10

In [193]:
a['data']

{'index': [0, 1, 2], 'column1': [2, 3, 5], 'column2': [25, 24, 10]}